html, body {
  height: 95%;
}

p{margin-left:85px;font-family: Arial}
li {margin-left:85px;font-family: Arial}
h3{margin-left:100px;font-family: Arial}
h1{font-family: Arial; font-size: 56px;}
h2{font-family: Arial; font-size: 20px;}
table{border-collapse: collapse;font-family: Arial }

title{font-family: Arial}

th, td {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  font-family: Arial;
  font-size: 80%;
  width: 12.5%;
}

span{
  font-family: Arial;
  font-size: 30px;
}


td{background-color: #d9d9d9;text-align: center;vertical-align: middle;font-family: Arial}

.time {
  font-size: 80px;
  font-family: Arial;
  float:left;
  margin: 10px;
}

.XX {
  background-color: white;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;

}
.dashboard{
    text-align: center;
    display: inline-block;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    min-width: -webkit-fill-available;
}

.GG {
  background-color: #d9d9d9;
  border-left: none;
  border-right: none;

}

.left{
  float:left;
  margin-left: 10px;
}

.right{
  float:right;
  margin-right: 10px;
}

big{
  margin-left:300px; margin-right: 20px;font-family: Arial
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f3f3f3;
  color: black;
  text-align: center;
  font-family: Arial;
}

.left-legend {
  fill:#b6d7a8;
  stroke-width: 5px;
  stroke:rgb(0,0,0);
}

.right-legend {
  fill:#ea9999;
  stroke-width: 5px;
  stroke:rgb(0,0,0);
}

.text-legend{
  margin-top: 10px;
  float:left;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  vertical-align: center;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

/*td{border:1px solid black;}
float:center;margin-left:100px;
*/
